/**
 * app.css - styles for the b4 web app.
 */

.container abbr {
  cursor: inherit;
  border-bottom: none;
}
.container abbr span {
  display: none;
}


table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}