
<div>
    <nav class="navbar">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home"><i class="fa fa-comment"></i> Home</a></li>
                <li><a href="#trips"><i class="fa fa-comment"></i> Trips</a></li>
                <li><a href="#expenses"><i class="fa fa-comment"></i> Expenses</a></li>
                <li><a href="#logout"><i class="fa fa-comment"></i> Logout</a></li>
            </ul>
        </div>
    </nav>

    <div ng-hide="approvalDetail">
        <img src="spiffygif_30x30.gif">
    </div>


      <h1 ng-show="approvalDetail">Expense Report: {{approvalDetail.ReportName}} </h1>
    <div ng-show="approvalDetail" ng-controller="workflowController">
    <form name="approvalDetailForm"
          ng-submit="approveReport()" novalidate>
        <div class="form-group">
            <label for="reportId">ReportID:</label>
            <input type="hidden" class="form-control" id="reportId"
                   ng-model="approvalDetail.ReportID">
        </div>

          Employee Name: {{approvalDetail.EmployeeName}} <br>
          Report Name: {{approvalDetail.ReportName}} <br>
          Report ID: {{approvalDetail.ReportID}} <br>
          Report Date: {{approvalDetail.ReportDate}} <br>
          Report Total: {{approvalDetail.ReportTotal}} <br>

      <h1 ng-show="approvalDetail">Expense Line Items</h1>
        <table ng-show="approvalDetail.ExpenseEntriesList.length">
            <thead>
            <tr>
                <th>Expense Type</th>
                <th>Payment Type</th>
                <th>Transaction Date</th>
                <th>Transaction Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="e in approvalDetail.ExpenseEntriesList">
                <td>{{ e.ExpenseTypeName }}</td>
                <td>{{ e.PaymentTypeName }}</td>
                <td>{{ e.TransactionDate }}</td>
                <td>{{ e.TransactionAmount | currency }}</td>
            </tr>
            </tbody>
        </table><br>
          <div>
            <p><button>Approve Report</button></p>
          </div>
        </form>
    </div>
  </div>
