
<div>

    <div ng-hide="home">
        <img src="spiffygif_30x30.gif">
    </div>

      <h2 ng-show="home.trips.length">Upcoming Trips ({{home.trips.length}})</h2>
      <div ng-show="home.trips.error">
          <h2>Upcoming Trips </h2>
          <p>({{home.trips.error}})</p>
      </div>
      <table ng-show="home.trips.length">
          <thead>
          <tr>
              <th>Trip Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Record Locator</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="t in home.trips">
              <td>{{ t.TripName }}</td>
              <td>{{ t.StartDateLocal }}</td>
              <td>{{ t.EndDateLocal }}</td>
              <td>{{ t.RecordLocator }}</td>
          </tr>
          </tbody>
      </table>

      <h2 ng-show="home.reports.Items.length">Unsubmitted Reports ({{home.reports.Items.length}})</h2>
      <table ng-show="home.reports.Items.length">
          <thead>
          <tr>
              <th>Report Name</th>
              <th>Status</th>
              <th>Payment Status</th>
              <th>Report Date</th>
              <th>Requested Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="r in home.reports.Items">
              <td>{{ r.Name }}</td>
              <td>{{ r.ApprovalStatusName }}</td>
              <td>{{ r.PaymentStatusName }}</td>
              <td>{{ r.CreateDate }}</td>
              <td>{{ r.Total | currency }}</td>
          </tr>
          </tbody>
      </table>

      <h2 ng-show="home.approvals.Items.length">Pending Approvals ({{home.approvals.Items.length}})</h2>
      <table ng-show="home.approvals.Items.length">
          <thead>
          <tr>
              <th>Report Name</th>
              <th>Employee</th>
              <th>Report Date</th>
              <th>Requested Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="a in home.approvals.Items">
              <td>{{ a.Name }}</td>
              <td>{{ a.OwnerName }}</td>
              <td>{{ a.SubmitDate }}</td>
              <td>{{ a.Total | currency }}</td>
          </tr>
          </tbody>
      </table>
  </div>
